* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;

    color: white;


    background-image: url("plano.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-color: #030719;
}




.container {
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px;
}




.login {
    width: 420px;

    padding: 45px;

    background: rgba(5, 12, 32, 0.82);

    border: 1px solid rgba(103, 76, 255, 0.45);

    border-radius: 22px;

    box-shadow:
        0 0 40px rgba(54, 63, 255, 0.18);

    backdrop-filter: blur(15px);
}



.logo {
    text-align: center;

    margin-bottom: 40px;
}

.logo h1 {
    font-size: 28px;

    letter-spacing: 2px;

    font-weight: 700;
}

.logo h1 strong {
    color: #884cff;
}

.logo p {
    margin-top: 8px;

    font-size: 11px;

    letter-spacing: 2px;

    text-transform: uppercase;

    color: #969bb5;
}




.login h2 {
    text-align: center;

    font-size: 32px;

    margin-bottom: 10px;
}

.subtitulo {
    text-align: center;

    color: #969bb5;

    font-size: 15px;

    margin-bottom: 35px;
}




.login form {
    display: flex;

    flex-direction: column;

    gap: 10px;
}



.login label {
    color: #d4d7e6;

    font-size: 14px;

    margin-top: 8px;
}




.login input {
    width: 100%;

    height: 55px;

    padding: 0 16px;

    border: 1px solid #303a65;

    border-radius: 12px;

    outline: none;

    background: rgba(3, 9, 25, 0.8);

    color: white;

    font-size: 15px;

    transition: 0.3s;
}

.login input::placeholder {
    color: #727992;
}

.login input:focus {
    border-color: #7650ff;

    box-shadow:
        0 0 15px rgba(118, 80, 255, 0.22);
}

button {
    width: 100%;
    height: 55px;
    margin-top: 15px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(90deg, #246bff, #803cff);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
    box-shadow:
    0 0 10px rgba(36, 107 , 255,0.35),
    0 0 25px rgba(128, 60 ,255,0.20);
}

button:hover{
    transform: translateY(-2px);

    box-shadow: 
    0 0 15px rgba(36, 107,255, 0.7),
    0 0 35px rgba(128, 60 ,255,0.55),
    0 0 60px rgba(128, 60 ,255,0.25);
}



button:active{
    transform: translateY(0);
}

.esqueci{
    text-align: right;
    color: #9c2de6;
    margin-top: 15px;
}
.alternativa{
    margin-top: 30px;
    text-align: center;
    

}

.cadastro-container{
    
}